			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="//lorempixel.com/400/200/abstract/2/" />
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
								<img class="profile-thumbnail" src="//lorempixel.com/200/200/people/9/" />
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
								<strong>Car Pool</strong>
								<span class='subline'>Ashesi University</span>
							</div>
						</div>
					</div>
				</div>


				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Pools</li>
				</ul>
				<div data-role="collapsible" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Pool</h3>
					<ul data-role="listview" data-inset="false" data-icon="false">
						<li><a href="../pool/index.html" data-ajax='false' data-icon="false">Pools Available</a></li>
						<li><a href="../../pool/create.html" data-ajax='false' data-icon="false">Create Pool</a></li>
					</ul>
				</div>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>News</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="../../News/add.html" data-ajax='false'>Add News</a></li>
						<li><a href="../../News/index.html" data-ajax='false'>News</a></li>
						
					</ul>
				</div>
				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Report</li>
				</ul>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>View Your Report</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="/examples/pages/profile.html" data-ajax='false'>View Report</a></li>
						
					</ul>
				</div>
				<hr class="inset">
				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Information</li>
				</ul>
				
			</div>
			<!-- /panel left -->
